{% extends "base.html" %}
{% block content %}
<form action="{% url 'inventory:sale_of_inventory' %}" method="post" class="form-horizontal">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="form-group">
        <div class="row form-row spacer">
            {{ form.as_p }}
        </div>
    </div>
    {% endfor %}
    <div class="row spacer">
        <label for="location">Location</label>
        <select name="location" id="location" required>
            <option value selected>---------</option>
            {% for location in locations %}
                <option value="{{ location.id }}">{{ location.location_address }}</option>
            {% endfor %}
        </select>
        <div class="col-4">
            <button type="submit" class="btn btn-block btn-primary">Create Sale Order</button>
        </div>
        <div class="col-4">
            <div class="input-group-append">
                <button class="btn btn-success add-form-row" id="add_more">+</button>
            </div>
        </div>
    </div>
</form>
{% load static %}
<script src="{% static 'inventory_app/inventory_app.js' %}" type='text/javascript'></script>

{% endblock %}