{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-group col-md-8 mb-0">
    <form action="{% url 'inventory:locations' %}" method="post" class="form">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% if locations.count > 0 %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Address</th>
            <th>Location Area and Size Description</th>
        </tr>
      </thead>
      <tbody>
        {% for loc in locations %}
            <tr>
                <td>
                    <a href="{% url 'inventory:product_locations' loc.id %}">
                        {{ loc.location_address }}
                    </a>
                </td>
                <td>
                    {{ loc.location_area_size_description }}
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% else %}
<p>No locations for inventory storage.</p>
{% endif %}
{% endblock %}