{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if product_stock|length > 0 %}
<div class="table-responsive col-md-10 mb-0">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Product</th>
            <th>Unit</th>
            <th>Quantity Available At Location</th>
        </tr>
      </thead>
      <tbody>
        {% for prod_stock in product_stock %}
            <tr>
                <td>
                    {{ prod_stock.0 }}
                </td>
                <td>
                    {{ prod_stock.1 }}
                </td>
                <td>
                    {{ prod_stock.2 }}
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination_snippet.html" %}
</div>
{% else %}
<p>No products available at this location.</p>
{% endif %}
{% endblock %}