{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-group col-md-8 mb-0">
    {% if supplier_id is None %}
    <form action="{% url 'inventory:add_product_with_supplier' %}" method="post" class="form">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <form action="{% url 'inventory:add_product' supplier_id  %}" method="post" class="form">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
</div>
{% endblock %}