{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Product Name</th>
            <th>Supplier</th>
            <th>Itroduction Date</th>
            <th>Description</th>
            <th>Current Stock Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
                {{ product.product_name }}
            </td>
            <td>
                <a href="{% url 'inventory:product_supplier' product.supplier.id %}">
                  {{ product.supplier.supplier_name }}
                </a>
            </td>
            <td>{{ product.product_introduction_date }}</td>
            <td>{{ product.product_description }}</td>
            <td>{{ product.current_product_stock }}</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="form-group col-md-6 mb-0">
    <form action="{% url 'inventory:edit_prices' product.id %}" method="post" class="form">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}