{% extends "base.html" %}
{% block content %}
{% load icons %}
<!-- Font Awesome CSS -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
>
<h2>Products</h2>

<a class="nav-link active" href="{% url 'inventory:add_product_with_supplier' %}">
  <span data-feather="home"></span>
    <button type="button" class="btn btn-info">Add Product</button>
<span class="sr-only">(current)</span>
</a>

{% if product_list %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Product Name</th>
            <th>Supplier</th>
            <th>Itroduction Date</th>
            <th>Description</th>
            <th>Stock Quantity</th>
            <th>Unit</th>
            <th>Purchase price</th>
            <th>Sale price</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
            <tr>
                <td>
                    <a href="{% url 'inventory:single_products' product.id %}">
                        {{ product.product_name }}
                    </a>
                </td>
                <td>
                <a href="{% url 'inventory:product_supplier' product.supplier.id %}">
                  {{ product.supplier.supplier_name }}
                </a>
                </td>
                <td>{{ product.product_introduction_date }}</td>
                <td>{{ product.product_description }}</td>
                <td>{{ product.current_product_stock }}</td>
                <td>{{ product.unit.unit_name }}</td>
                <td>{{ product.getPurchasePrice }}</td>
                <td>{{ product.getSalePrice }}</td>
                <td><a href="{% url 'inventory:edit_prices' product.id %}" title="edit prices">{% icon 'pencil' %}</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination_snippet.html" %}
</div>
{% else %}
    <p>No products are available.</p>
{% endif %}
{% endblock %}
