{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load humanize %}

<div class="card">
  <h5 class="card-header">Sales Overview</h5>
  <div class="card-body">
    <canvas id="saleGraph" width="100" height="55"></canvas>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Today's Sale</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Rs. {{ daily_sale|floatformat:2|intcomma }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Today's Cost Of Goods Sold</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Rs. {{ daily_cost_of_goods_sold|floatformat:2|intcomma }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Today's Gross Profit</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Rs. {{ daily_gross_profit|floatformat:2|intcomma }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Product Overview</h5>
  <div class="row">
    <div class="col-xl-7 col-md-7 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
              <h5 class="card-title">Turnover Per Top 12 Products</h5>
              <canvas id="top10TurnoverProduct-BarGraph" data-url="{% url 'top10TurnoverProductBarGraph' %}"></canvas>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-5 col-md-5 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <h5 class="card-title">Gross Margin: Top 10 Products</h5>
              <div class="mb-0 font-weight-bold text-gray-800">
                <ol class="card-text">
                {% for item in product_margins %}
                  <li class="card-text">{{ item.0 }} - Rs. {{ item.1|floatformat:2|intcomma }} ({{ item.2|floatformat:2|intcomma }}%)</li>
                {% endfor %}
                </ol>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
$(function () {
  var $top10TurnoverProductBarGraph = $("#top10TurnoverProduct-BarGraph");
  $.ajax({
    url: $top10TurnoverProductBarGraph.data("url"),
    success: function (data) {
      var ctx = $top10TurnoverProductBarGraph[0].getContext("2d");

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: data.labels,
          datasets: [{
            label: 'Turonver in Rs',
            backgroundColor: 'green',
            data: data.data
          }]
        },
        options: {
          responsive: true,
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Turnover Per Product'
          }
        }
      });
    }
  });
});

$.get('{% url "Last30DaySaleLineGraph" %}', function(data) {
    var ctx = $("#saleGraph").get(0).getContext("2d");
    new Chart(ctx, {
        type: 'line',
        fill: false,
        data: data,
        options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: "Turnover Of Most Recent Last 30 Days' Reported Turnover"
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                scaleLabel: {
                  display: true,
                  labelString: 'Amount in Rs'
                }
            }],
            xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Date of Sale'
                }
            }]
        }
      }

    });
});
</script>

{% endblock %}
