{% extends "base.html" %}
{% block content %}
{% load humanize %}
<h2>Purchase Orders (of last 30 days)</h2>
{% if purchaseOrders %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Purchase Price</th>
          <th>Quantity</th>
          <th>Date</th>
          <th>Supplier</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase_order in purchaseOrders %}
            <tr>
              <td>{{ purchase_order.product.product_name }}</td>
              <td>Rs. {{ purchase_order.purchase_price.purchase_price_per_unit|floatformat:2|intcomma }}</td>
              <td>{{ purchase_order.purchase_quantity|intcomma }}</td>
              <td>{{ purchase_order.purchase_date|naturalday }}</td>
              <td>{{ purchase_order.product.supplier.supplier_name }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination_snippet.html" %}
</div>
{% else %}
    <p>No purchase orders available.</p>
{% endif %}
{% endblock %}