{% load humanize %}
{% if sales_orders %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Sale Price</th>
          <th>Weighted Avg. Cost</th>
          <th>Location</th>
          <th>Sales Order Quantity</th>
          <th>Sales Volume</th>
        </tr>
      </thead>
      <tbody>
        {% for sale_order in sales_orders %}
            <tr>
              <td>{{ sale_order.product.product_name }}</td>
              <td>Rs. {{ sale_order.sale_price.sale_price_per_unit|floatformat:2|intcomma }}</td>
              <td>Rs. {{ sale_order.product.getWeightedAveragePurchasePrice|floatformat:2|intcomma  }}</td>
              <td>{{ sale_order.location.location_address }}</td>
              <td>{{ sale_order.sales_order_quantity|intcomma }}</td>
              <td>Rs. {{ sale_order.sale_volume|intcomma }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination_snippet.html" %}
</div>
{% else %}
    <p>No sales orders available for today at the moment.</p>
{% endif %}