{% extends "base.html" %}
{% block content %}
{% load static %}
{% load humanize %}
<h2>Daily Sale Report ({{ todays_date }})</h2>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Sales Data
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
              {% include "inventory_app/sales_reports/daily_sale_data.html" %}
          </div>
        </div>
    </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Summary Report
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          {% if sales_orders %}
          <div class="row">
              <div class="col-md-4 col-md-offset-2">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                  <div class="card-header">Total Sales Volume</div>
                  <div class="card-body">
                      <h5 class="card-title">Rs. {{ total_sales_volume|intcomma }}</h5>
                      <img src="{% static 'inventory_app/sale.png' %}" alt="Sale">
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-2">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                  <div class="card-header">Average Cost of Sales</div>
                  <div class="card-body">
                    <h5 class="card-title">Rs. {{ total_avg_cost|floatformat:2|intcomma }}</h5>
                    <img src="{% static 'inventory_app/cost.png' %}" alt="Cost">
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-2">
                <div class="card text-white bg-{% if gross_profit < 0 %}danger{% else %}primary{% endif %} mb-3" style="max-width: 18rem;">
                  <div class="card-header">Gross Profit\Margin</div>
                  <div class="card-body">
                      <h5 class="card-title">Rs. {{ gross_profit|floatformat:2|intcomma }}</h5>
                      <img src="{% static 'inventory_app/coins.png' %}" alt="Gross Profit">
                  </div>
                </div>
            </div>
        </div>
      </div>
          {% else %}
            <p>No sales data available for today at the moment.</p>
          {% endif %}
    </div>

  </div>
</div>
{% endblock %}