{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;
          </a>
      </li>
    {% else %}
      <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1"><span>&laquo;</span></a>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active">
            <a class="page-link" href="#">
                <span>{{ i }} <span class="sr-only">(current)</span></span>
            </a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1"><span>&raquo;</span></a>
      </li>
    {% endif %}
  </ul>
{% endif %}