{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-group col-md-8 mb-0">
    <form action="{% url 'inventory:add_supplier'  %}" method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}