{% extends "base.html" %}
{% block content %}
{% if product_supplier_list %}
<h2>Products from supplier: {{ product_supplier_list.1 }}</h2>
<a class="nav-link active" href="{% url 'inventory:add_product' product_supplier_list.0 %}">
  <span data-feather="home"></span>
    <button type="button" class="btn btn-info">Add Product</button>
    <span class="sr-only">(current)</span>
</a>
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Product Name</th>
            <th>Minimum Order Quantity</th>
            <th>Itroduction Date</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Stock Quantity</th>
            <th>Re-order Level</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_supplier_list.2 %}
            <tr>
                <td>
                    <a href="{% url 'inventory:single_products' product.id %}">
                        {{ product.product_name }}
                    </a>
                </td>
                <td>{{ product.product_minimum_order_quantity }}</td>
                <td>{{ product.product_introduction_date }}</td>
                <td>{{ product.product_description }}</td>
                <td>{{ product.unit.unit_name }}</td>
                <td>{{ product.current_product_stock }}</td>
                <td>{{ product.product_reorder_level }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination_snippet.html" %}

</div>
{% else %}
    <p>No products are available for this supplier.</p>
{% endif %}
{% endblock %}
{% if products_list %}
<h1>Products</h1>
    <ul>
    {% for product in product_list %}
        <li>{{ product.product_name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products are available.</p>
{% endif %}
