{% extends "base.html" %}
{% block content %}
<h2>Suppliers</h2>
<a class="nav-link active" href="{% url 'inventory:add_supplier' %}">
  <span data-feather="home"></span>
    <button type="button" class="btn btn-info">Add Supplier</button>
    <span class="sr-only">(current)</span>
</a>
{% if supplier_list %}
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Supplier Name</th>
          <th>Supplier Email</th>
          <th>Supplier Phone</th>
          <th>Supplier Address</th>
        </tr>
      </thead>
      <tbody>
        {% for supplier in supplier_list %}
            <tr>

              <td>
                  <a href="{% url 'inventory:product_supplier' supplier.id %}">
                  {{ supplier.supplier_name }}
                  </a>
              </td>
              <td>{{ supplier.supplier_email }}</td>
              <td>{{ supplier.supplier_phone }}</td>
              <td>{{ supplier.supplier_address }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination_snippet.html" %}
</div>
{% else %}
    <p>No suppliers are available.</p>
{% endif %}
{% endblock %}
{% if products_list %}
<h1>Products</h1>
    <ul>
    {% for product in product_list %}
        <li>{{ product.product_name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products are available.</p>
{% endif %}
